<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="estilos.css">
</head>
<body>


<div class="header">
	
<h1>TWENTY ONE PILOTS</h1>
<p>Grupo de Música el mejor duo del planeta  </p>

</div>
<div class="menu">
<a href="">MENU 1</a>	
<a href="">MENU 2</a>
<a href="">MENU 3</a>
<a href="">MENU 4</a>

</div>
<div class="contenido">
	<div class="izquierda">
		<div class="item">
			<h2>Josh Dun</h2>
			<h5>El es mejor baterista de la historia de esta banda</h5>
			<img src="josh.jpg" alt="" class="imagen" width="1000px" height="300px" >
		</div>
	</div>

	<div class="derecha">
		<div class="item">
		<h2>Tyler Jopshe</h2>
			<h5>El es el integrante mas inteligente del gurpo y el lider nato de la bnada tambien sabe jmugar ajedrez</h5>
			<img src="edgar.jpg" alt="" class="imagen" width="" height="300px" >			
		</div>
	</div>
</div>

<div class="footer">
	<h2>twentyonepilots 2019 ® </h2>
<div>	

</body>
</html>